<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Edit Blog Page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../assets/css/index.css" />
    <link rel="stylesheet" href="../assets/css/nav.css" />
    <link rel="stylesheet" href="../assets/css/blog.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />

    <style>
      .active { color: orangered !important; font-weight: bold; } .btn-warning {
      background-color: orangered; color: white; font-weight: bold; }
      .btn-secondary { background-color: #dbdbdb; color: black; font-weight:
      bold; }
    </style>
  </head>

 <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <img
          src="../assets/img/dumbways.png"
          class="navbar-logo"
          style="margin-right: 10px"
        />
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="blog">Blog</a>
            </li>
          </ul>
          <a class="btn btn-warning" href="contact" style="padding: 10px">
            Contact
          </a>
        </div>
      </div>
    </nav>

    <div class="container text-center my-5">
      <h1>Edit Blog</h1>

      <form method="post" action="/edit-blog">
        <input value="{{data.id}}" name="id" hidden />
        <div class="input-group mb-3 d-flex flex-column align-items-start">
          <label style="font-weight: bold">Title</label>
          <input type="text" class="form-control w-100" id="input-blog-title" name="title" value="{{data.title}}"/>
        </div>

        <div class="input-group mb-3 d-flex flex-column align-items-start">
          <label style="font-weight: bold">Content</label>
          <textarea
            class="form-control w-100"
            aria-label="With textarea"
            id="input-blog-content"
            name="content"
          >{{data.content}}</textarea>
        </div>

        <div class="input-group mb-3 d-flex flex-column align-items-start">
          <label style="font-weight: bold">Upload Image</label>
          <input type="file" class="form-control w-100" id="input-blog-image" />
        </div>

        <div class="w-100 d-flex justify-content-end">
          <button class="btn btn-warning p-3" type="submit">Edit Blog</button>
        </div>
      </form>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script src="../assets/js/blog.js"></script>
  </body>
</html>