<html>
  <head>
    <title>B54 - Project Portfolio</title>
    <link rel="stylesheet" href="../assets/css/index.css" />
    <link rel="stylesheet" href="../assets/css/nav.css" />
    <link rel="stylesheet" href="../assets/css/home.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <meta name="viewport" content="width=device-width; initial-scale=1.0" />
  </head>

  <body>
    <nav class="navbar">
      <ul class="navbar-ul">
        <div class="navbar-left">
          <li>
            <img src="../assets/img/dumbways.png" class="navbar-logo" />
          </li>
          <li>
            <a href="index" class="navbar-link active">
              Home
            </a>
          </li>
          <li>
            <a href="blog" class="navbar-link">
              Blog
            </a>
          </li>
        </div>
        <div class="navbar-right">
          <li>
            <a href="contact" class="navbar-contact-btn">
              Contact
            </a>
          </li>
          <button id="hamburger-button" onclick="toggleHamburger()">
            <i class="fa-solid fa-bars fa-2x"></i>
          </button>
        </div>
      </ul>
    </nav>

    {{#if messages.success}}
      <div style="padding: 20px; background-color: green; width:100%; color: white">
        {{messages.success}}
      </div>
    {{/if}}

    <div class="hamburger-container hide">
      <a href="index" class="hamburger-nav-link hamburger-active">
        Home
      </a>
      <a href="blog" class="hamburger-nav-link">
        Blog
      </a>
      <a href="contact" class="hamburger-nav-link">
        Contact
      </a>
    </div>

    <section class="container">
      <div class="left">
        <img
          src="../assets/img/naruto.jpg"
          alt="Ini tuh gambar naruto bro"
          style="
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 20px;
          "
        />
        <h1>Cintara Surya Elidanto</h1>
        <p>
          Saya adalah seorang Fullstack Developer. Saya memiliki pengalaman di
          bidang pemrograman selama kurang lebih 5 tahun.
        </p>
        <table border="1" style="width: 100%">
          <tr>
            <th>Experience</th>
            <th>Year</th>
          </tr>
          <tr>
            <td>Internship in Dumbways</td>
            <td>2020</td>
          </tr>
          <tr>
            <td>CEO in Dumbways</td>
            <td>2021</td>
          </tr>
        </table>
      </div>

      <div class="right">
        <h2>What i do</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
        deserunt dolores, harum rerum laboriosam earum totam dolorem debitis
        impedit ipsam inventore sint quisquam modi eaque quis, unde nemo magni
        ipsum?

        <div class="skill">
          <div>
            <img src="images/logo.png" alt="" srcset="" />
            <h2>Javascript</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, ea!
            </p>
          </div>
          <div>
            <img src="images/logo.png" alt="" srcset="" />
            <h2>Github</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, ea!
            </p>
          </div>

          <div>
            <img src="images/logo.png" alt="" srcset="" />
            <h2>Deployment</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, ea!
            </p>
          </div>
        </div>

        <div class="social-media">
          <h2>Found Me on</h2>
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-instagram"></i>
        </div>
      </div>
    </section>

    <script src="./assets/js/nav.js"></script>
  </body>
</html>